@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <p><span class="iconify" data-icon="mdi-garage-variant-lock" height="200" color="#ff6600"></span></p>
        <h1>Open Smarter. Live Easy.</h1>
        <p>Industrial-grade IoT garage door opener with online control, alerts, and automation.</p>
        <a href="#download" class="btn btn-custom btn-lg mt-4">Sign-up</a>
    </div>
</section>


<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>